
  <!-- Footer -->
  <footer id="sticky-footer" class="text-center text-dark fixed-bottom " >
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a href="/users/sign_up"><button type="button" class="btn btn-outline-dark btn-rounded">
            Sign up!
          </button></a>
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="/albums">GalleryApp.com</a>
    </div>
  </footer>
  <!-- Footer -->
