<div class="container">

  <hr>
  <button type="button" class="btn btn-secondary fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal">

  <div class="row mt-5">
    <% @albums.images.each do |image| %>
      <div class="col-lg-4 my-2">
        <div class="card ">
          <%= link_to image, target:"_blank" do %>
            <%= image_tag(image, class:"img-fluid img") %>
          <%end%>
          <div class="card-footer ">
            <%= link_to  edit_album_path(@albums) , class: "btn btn-dark fs-5 " , style: "float: left;"  do %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>

